<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>ProMeteo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="main">
        <header>
            <a href="javascript:void(0);" onclick="toggleNavbar()">
                <img src="sole.png" alt="Menu" class="menu-button" height="100" width="100">
            </a>            
            <h1>Benvenuto!</h1>
            <a href="login.html">
                <img src="user2.png" alt="Login" class="login-button">
            </a>
        </header>
        <main>
            <form>
                <label for="citta">Città</label>
                <input type="text" id="citta" name="citta">
                <br/>
                <label for="data">Data</label>
                <input type="text" id="data" name="data">
                <br/>
                <div class="menu">
                    <label for="sezione">Sezione</label>
                    <section>  
                        <nav>
                            <select name="sezione" id="sezione">
                                <option value="temp">Temperatura</option>
                                <option value="pressione">Pressione</option>
                                <option value="visibilità">Visibilità</option>
                                <option value="umidita">Umidità</option>
                            </select>
                        </nav>
                    </section>
                </div>
                <br/>
                <button type="submit">Cerca</button>
            </form>
        </main>
        <footer>
            <p>© 2025 ProMeteo. All rights reserved.</p>
            <div id="easter-egg-popup" class="popup">
                <br>
                <a href="https://github.com/GitGinocchio/WeatherWebsiteArduino" target="_blank">🐰</a>
            </div>
        </footer>
    </div>
    <div class="navbar" id="myNavbar">
        &nbsp;
        <a href="#">Contatti</a>
        &nbsp;
        <a href="#">Storia</a>
        &nbsp;
        <a href="#">Chi siamo</a>
        &nbsp;
        <a href="#">Info</a>
    </div>
</body>
</html>