<html lang="it">
    <head>
        <title>
            Menu
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>
            <ul>Storia</ul>
            <br>
            <ul>Chi siamo</ul>
            <br>
            <ul>Contatti</ul>
            <br>
            <ul>info</ul>
    </body>
</html>